/*
body:
rgb(23, 22, 26)
card:
rgb(19, 18, 24)
--------------
nav:
rgb(49,26,146)
light:
rgb(69,38,160)
inside:
rgb(15,12,17)
---------------
highlight:
rgb(67,67,70)
font:
rgb(212, 212, 212)
---------------------
light-puple:
rgb(156,39,176)
dark-purple:
rgb(86,0,136)
light-blue:
rgb(65,31,253)
medium-blue:
rgb(42,50,153)
dark-blue:
rgb(19,18,105)
*/

:root{
  /*
      updated v1.0.1 Color Root Base:
      @DG
      2:00AM
      6/15/2020;

      -

   */


 --lightgrey: rgb(23, 22, 26);
 --darkgrey:  rgb(19, 18, 24);
 --navpurp:   rgb(49,26,146);
 --navlite:   rgb(69,38,160);
 
 --highlight: rgb(67,67,70);
 --font:      rgb(212, 212, 212);

 --lightpurple: rgb(156,39,176);
 --purple:      rgb(86,0,136);
 --lightblue:   rgb(65,31,253);
 --medblue:     rgb(42,50,153);
 --darkblye:    rgb(19,18,105);


}

body {

  font-weight: 400;
  overflow: hidden;
  background-color: var(--lightgrey);

}
/* BOOTSTRAP OVERIDE */
.btn-primary{
  background-color: rgb(69,38,160);
}
.btn-primary:hover{
  background-color: rgb(97,60,280);
}




.form-control:focus{
  border-width: 2px;
  border-color: rgb(0,0,0,0);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(49,26,146);

}

/* MAIN */
.footer-copyright{
  font-weight: 400;
  background-color: rgb(49,26,146);
  color:white;
}

.logo{
  font-weight: 900;
  background-color: rgb(49,26,146);

}
/* CHECKBOX */



/* Hide the browser's default checkbox */
.checkbox-depot input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */



/* LOGIN.PHP */

.login-container{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);


}

.login-form{
  padding-top: 50px;
  margin: 50px;

}




/* COLOR CSS */

.font{
  color: white;
}

.purple-nav{
  color: rgb(97,60,280);
}
/* BUTTON CSS */

.btn-purple{
  background-color: #8E44AD;
  border-color: ;

}



.mr-x{
  margin-right: 20px;
  margin-left: 20px;
}
