/*
body:
rgb(23, 22, 26)
card:
rgb(19, 18, 24)
--------------
nav:
rgb(49,26,146)
light:
rgb(69,38,160)
inside:
rgb(15,12,17)
---------------
highlight:
rgb(67,67,70)
font:
rgb(212, 212, 212)
---------------------
light-puple:
rgb(156,39,176)
dark-purple:
rgb(86,0,136)
light-blue:
rgb(65,31,253)
medium-blue:
rgb(42,50,153)
dark-blue:
rgb(19,18,105)
*/

:root{
  /*
      updated v1.0.1 Color Root Base:
      @DG
      2:00AM
      6/15/2020;

      -

   */


 --lightgrey: rgb(18, 18, 18);
 --darkgrey:  rgb(19, 18, 24);
 --navpurp:   rgb(49,26,146);
 --navlite:   rgb(69,38,160);
 --navhover:  rgb(97,60,280);
 --highlight: rgb(67,67,70);
 --font:      rgb(212, 212, 212);

 --lightpurple: rgb(156,39,176);
 --purple:      rgb(86,0,136);
 --lightblue:   rgb(65,31,253);
 --medblue:     rgb(42,50,153);
 --darkblye:    rgb(19,18,105);
 --success: #28a745;


}

body {

  font-weight: 400;
  background-color: var(--lightgrey);
  margin-right: 10%;
  margin-left: 10%;

}

a:hover{
  color: white;
  text-decoration: none;
}
/* BOOTSTRAP OVERIDE */
.navbar-logo{
  display: block;
  max-width: 75px;
  max-height: 75px;
}
.btn-primary{
  color: white;
  background-color:  var(--navlite);
}
.btn-primary:hover{
  color: white;
  background-color:  var(--navhover);
}
.btn-primary:focus, .btn-primary.focus {
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: white;
  background-color:  var(--navpurp) !important;
  border-color: rgb(49,26,146) !important;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
}

.btn-primary:active{
  color: white;
  box-shadow: 0 0 0 0.2rem rgba(49,26,146, 0.5) !important;
  background-color:  var(--navpurp) !important;

}


.alert-danger {
  color: rgb(253,0,51);
  background-color: transparent;
  border-color:  rgb(183,0,36);
}
.alert-success {
  color: rgb(0,255,153) !important;
  background-color: transparent !important;
  border-color:  rgb(0,217,130) !important;
}
.font-15{
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 4px;
}
.dropdown-divider {

  border-top: 1px solid var(--primary) !important;
}
.btn:hover{
  color: white;
}
.border-bottom-white{
  border-bottom: 1px solid white !important;
}

.form-control:focus{
  border-width: 2px;
  border-color: rgb(0,0,0,0);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(49,26,146);

}
.btn-round{
  border-radius: 75px;
}
.btn-45{
  height: 45.2px;
}
.display-5{
  font-size: 2.0rem;
  font-weight: 300;
  line-height: 1.2;
}
.success{
  color: var(--success);
}

.card-title{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-transform: uppercase;

}
.modal-content{
  background-color:rgb(12,12,12) !important;
}
/* BADGES */
.badge-demo {
  color: #fff;
  background-color: rgb(241,103,40);
}
.badge-engineer {
  color: #fff;
  background-color: rgb(122,41,203);
}
.badge-heavy {
  color: #fff;
  background-color: rgb(2,199,120);
}
.badge-pyro {
  color: #fff;
  background-color: rgb(255,0,0);
}
.badge-medic {
  color: #fff;
  background-color: rgb(193,179,0);
}
.badge-scout {
  color: #fff;
  background-color: rgb(37,118,239);
}
.badge-sniper {
  color: #fff;
  background-color: rgb(0,128,128);
}
.badge-soldier {
  color: #fff;
  background-color: rgb(163,2,185);
}
.badge-spy {
  color: #fff;
  background-color: rgb(172,180 ,185);
}
/* MAIN */
.primary{
  color: var(--success);
}
.badge-md{

  font-size: 0.9em;
}
.badge-depot{
  margin-top: -100px;
}
.card {
    overflow: hidden;

    max-width: 100%;
}
.card-text {
    word-wrap: break-word !important;
}
.xy-200{
  height: 200px;
  width: 200px;
}
.x-200{
  width: 200px;
}
.y-200{
  height: 200px;
}
.fullname{
  margin-bottom: -15px;
}
.img-logo{

  max-width: 45px;
  max-height: 45px;
}
.img-logo-3{

  max-width: 60px;
  max-height: 60px;
}
.box {
   display: flex;
   align-items:center;
}

.footer-copyright{
  padding:10px;
  font-weight: 400;
  background-color: rgb(49,26,146);
  color:white;
}

.logo{
  font-weight: 900;
  background-color: rgb(49,26,146);

}

.vertical-center{

  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.outer{

  position: absolute;
 left:50%;
 margin: 0;
 -ms-transform: translateX(-50%);
 transform: translateX(-50%);

}
/* CHECKBOX */



/* Hide the browser's default checkbox */
.checkbox-depot input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */



/* DEPOT CSS */

.login-form{
  margin: 0;
  width: auto;
}
.Raleway{
  color: white;
  font-weight: 500;
}

.login-form{
  padding-top: 50px;
  margin: 50px;

}

.register-form{
  -ms-transform: translateX(30%);
  transform: translateX(30%);
  width: 60%;
  margin-bottom: -500px;
}


.font-logo{
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 50px;
  font-weight: 800;





}


/* COLOR CSS */

.font{
  color: white !important;
}

.purple-nav{
  color: rgb(97,60,280);
}
.purple-nav:hover{
  color: rgb(197,69,252);
}
/* BUTTON CSS */

.btn-purple{
  background-color: #8E44AD;
  border-color: ;

}



.mr-x{
  margin-right: 20px;
  margin-left: 20px;
}
